<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registration Confirmation</title>
        <link rel="stylesheet" href="../../../styles/globalstyle.css">
        <link rel="stylesheet" href="registration-confirmation.css">
    </head>
    <body>
        <section id="header-message">
            <p>Register Today! Read Forevermore!</p>
        </section>
        <header id="header">
            <a href="../../../index.html" id="logo">
                <img src="../../assets/images/site_logo.png" alt="Logo" id="logo-image"> 
                <span>The Book Nook</span>
            </a>
        </header>

        <main id="main-content">
            <section id="confirmation-message">
                <h1>Registration Successful!</h1>
                <p>Thank you for registering with us. You can now log in and start exploring our collection.</p>
                <a href="../../../index.html?showLogin=true" class="button">Go to Login</a>
            </section>
        </main>
    </body>
</html>