<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Reset Password</title>
</head>
<body>
  <h2>Reset Password</h2>
  <form id="resetPasswordForm">
    <label for="email">Email address:</label>
    <input type="email" id="email" name="email" required readonly  />

    <label for="new-password">New password:</label>
    <input type="password" id="new-password" name="new-password" required />

    <label for="confirm-password">Confirm new password:</label>
    <input type="password" id="confirm-password" name="confirm-password" required />

    <button type="submit">Reset Password</button>
  </form>
</body>
</html>
